
    <body>
      
        <div class="container page-content">
            <div class="row">
                <div class="span8">
                    <div class="box-container">
                        <div class="padding30">
                            <h2 class="page-title">Contact us</h2>
                            <ul class="unstyled">
                                <li>
                                    <i class="icon-envelope-alt"></i>
                                    Email: realto@realto.com</li>
                                <li>
                                    <i class="icon-phone"></i>
                                    Phone: +1 786 345 6789</li>
                                <li>
                                    <i class="icon-linkedin"></i>
                                    linkedin.com/realto</li>
                                <li>
                                    <i class="icon-twitter"></i>
                                    twitter.com/realto</li>
                            </ul>
                            <div class="row-fluid">
                                <form action="#" class="margin300" method="post">
                                    <input class="span6" placeholder="Please, insert your name" type="text">
                                    <input class="span6 pull-right" placeholder="Please, insert your email" type="text">
                                    <textarea class="span12" placeholder="Write your message" rows="6"></textarea>
                                    <div class="clearfix">
                                        <button class="btn btn-realto span6" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .span8 -->
                <div class="span4 widget">
                    <div class="widget map box-container padding30">
                        <h3 class="widget-title">Get Directions</h3>
                        <iframe src="https://www.google.it/maps/place/Grants,+Nuovo+Messico+87020,+Stati+Uniti/@35.174036,-107.8416976,16.75z/data=!4m5!3m4!1s0x8723893408bfd7a1:0xde90ffb5df0d5779!8m2!3d35.14726!4d-107.8514466"></iframe>
                        <dl class="margin0">
                            <dt>Realto</dt>
                            <dd class="margin0">1680 Washington Avenue</dd>
                            <dd class="margin0">Miami Beach, FL 33139</dd>
                        </dl>
                    </div>
                </div>
                <!-- .span4 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->

    </body>
